.blockquote-footer.bs-datepicker.bs-popover-bottom.bs-popover-right.col-md.p-0 {
  position: fixed;
}
.alert-warning.bg-white.border-top.col-md-12.col-sm-6.py-5.text-black {
  margin-top: 102px;
}
.upload_only.upload_proofs_sec {
  border: dashed;
}
