<div class="row p-0 m-0">
    <div class="col-sm-6 col-md-12 py-3">
        <h2> <img src="assets/warsi_traders_logo.png" alt="Warsi Logo"
                style="width: 50px;height: 60px; margin-top: -7px;">
            WARSI TRADERS</h2>
        <h5 class="text-center m-0 p-0">
            Complain Registration Form
        </h5>
        <hr>
        <div class="col-sm-6 col-md-12 text-center">
            <a href="/">Back to Registration Page</a>
        </div>
        <div class="col-sm-6 col-md-12 py-5 text-center">
            <img src="assets/success.png" alt="Warsi Logo">
        </div>
    </div>
</div>