<div class="row p-0 m-0">
    <div class="blockquote-footer bs-datepicker bs-popover-bottom bs-popover-right col-md p-0">
        <h2 class="text-left"><img src="assets/warsi_traders_logo.png" alt="Warsi Logo"
                style="width: 50px;height: 60px; margin-top: -7px;">
            WARSI TRADERS</h2>
        <div class="col-12">

            <h5 class="text-center">
                Complain Registration Form
            </h5>
        </div>
        <hr>
    </div>
    <div class="bg-white col-md-12 py-5 text-center h-100">
        <img src="assets/success.png" alt="Warsi Logo" height="auto" style="background-position: vh;">
    </div>
    <div class="bg-white col-md-12 py-5 text-center h-100" style="height:500px;">
        <a href="/">Back To Registration form</a>
    </div>
    <div class="bg-white col-md-12 py-5 text-center h-100" style="height:500px;">

    </div>
</div>