<div class="row p-0 m-0" style="height: 84vh;">
    <div class="blockquote-footer bs-datepicker bs-popover-bottom bs-popover-right col-md p-0">
        <h2 class="text-left"><img src="assets/warsi_traders_logo.png" alt="Warsi Logo"
                style="width: 50px;height: 60px; margin-top: -7px;">
            WARSI TRADERS</h2>
        <div class="col-12">

            <h5 class="text-center">
                Complain Registration Form
            </h5>
        </div>
        <hr>
    </div>
    <div class="bg-white col-md-12 py-5 pb-5 text-center h-100">
        <img src="assets/success.png" alt="Warsi Logo" height="120px">

        <div class="bg-white col-md-12 py-5 text-center">

            <a href="/">Back To Registration form</a>
        </div>
    </div>
</div>